<!-- Launch file for visualizing OSM data

     arg: map_url = URL for map data

     $Id$
  -->

<launch>

  <arg name="map_url" default="package://osm_cartography/tests/prc.osm" />

  <!-- start map server -->
  <include file="$(find osm_cartography)/launch/viz_osm.launch" >
    <arg name="map_url" value="$(arg map_url)" />
  </include>

  <!-- start map visualization -->
  <node pkg="road_network" type="road_network.py" name="road_network" >
    <param name="map_url" value="$(arg map_url)" />
  </node>

</launch>
