<!-- Launch file for visualizing OSM data

     arg: map_url = URL for map data

     $Id$
  -->

<launch>

  <arg name="map_url" default="package://osm_cartography/tests/prc.osm" />

  <!-- start map server -->
  <node pkg="osm_cartography" type="osm_server.py" name="osm_server" />

  <!-- start map server and visualization
  <include file="$(find osm_cartography)/launch/viz_osm.launch" >
    <arg name="map_url" value="$(arg map_url)" />
  </include>
  -->

  <!-- start network graph node -->
  <node pkg="route_network" type="route_network.py" name="route_network" >
    <param name="map_url" value="$(arg map_url)" />
  </node>

</launch>
