<!-- Launch file for visualizing OSM data

     arg: url = URL for map data

     $Id$
  -->

<launch>

  <arg name="url" default="package://osm_cartography/tests/prc.osm" />

  <!-- Transform /map into /local_map frame. Rviz cannot handle large
       UTM coordinates, they require double precision, so we visualize
       using the /local_map.  Start the transform early to minimize TF
       errors in rviz.
  -->
  <node pkg="tf" type="static_transform_publisher" name="local_map_tf"
        args="622150 3362350 0 0 0 0 1 map local_map 100" />

  <!-- start map server -->
  <node pkg="osm_cartography" type="osm_server" name="osm_server" />

  <!-- start map visualization -->
  <node pkg="osm_cartography" type="viz_osm" name="viz_osm" >
    <param name="map_url" value="$(arg url)" />
  </node>

</launch>
